### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### Django.Python Stack ###
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.egg
*.egg-info
dist
build

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:

### PyCharm ###
.idea/

### Python Patch ###
poetry.toml

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
